* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: #00a2c6;
}

footer {
  background-color: #00a2c6;
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bold;
}

.profile header {
  text-align: center;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  object-position: center;
}

.profile img {
  width: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #00c8eb;
  text-align: center;
  color: white;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

nav {
  background-color: #00a2c6;
  padding: 5px;
  position: sticky;
  top: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

#content {
  flex: 3;
}

aside {
  flex: 1;
  padding-left: 20px;
}

header {
  display: inline;
}

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;
  }

  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode .jumbotron {
  background-color: #333;
}

body.dark-mode nav {
  background-color: #444;
}

body.dark-mode footer {
  background-color: #333;
}

body.dark-mode .card {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

body.dark-mode nav a {
  color: #e0e0e0;
}

#dark-mode-toggle {
  background-color: #00a2c6;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

#dark-mode-toggle:hover {
  background-color: #008c9e;
  transform: scale(1.05);
}

body.dark-mode #dark-mode-toggle {
  background-color: #e0e0e0;
  color: #121212;
}

body.dark-mode #dark-mode-toggle:hover {
  background-color: #d3d3d3;
  transform: scale(1.05);
}
